# Ambientes Virtuais
venv/
env/
.env
.venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/
build/
.next/

# IDEs
.vscode/
.idea/

# Outros
*.log
.DS_Store
*.exe
*.zip
fix*.py
run_export.py
gerar_pdf_deploy.py
